<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flavors</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <%- include('./layout/header') %>

    <div class="wrapper-flavors">
        <% let number = [] %> 
      <% let name = [] %> 
      <% for(let count of counter){ %>
         <% number.push(count.amount) %>   
         <% name.push(count.name) %>   
         <% } %> 
         <h2>Flavor <%= name[0] %> Röstas av : <%= number[0] %> </h2>
         <h2>Flavor <%= name[1] %> Röstas av : <%= number[1] %> </h2>
         <h2>Flavor <%= name[2] %> Röstas av : <%= number[2] %> </h2>
         <h2>Flavor <%= name[3] %> Röstas av : <%= number[3] %> </h2>
         <h2>Flavor <%= name[4] %> Röstas av : <%= number[4] %> </h2>
         <h2>Flavor <%= name[5] %> Röstas av : <%= number[5] %> </h2>
         <h2>Flavor <%= name[6] %> Röstas av : <%= number[6] %> </h2>
         <h2>Flavor <%= name[7] %> Röstas av : <%= number[7] %> </h2>
         <h2>Flavor <%= name[8] %> Röstas av : <%= number[8] %> </h2>
         <h2>Flavor <%= name[9] %> Röstas av : <%= number[9] %> </h2>

    </div>

    <%- include('./layout/footer') %>
  </body>
</html>
